---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "ai-virtual-agent.fullname" . }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - endpoints
  - services
  verbs:
  - get
  - list
- apiGroups:
  - toolhive.stacklok.dev
  resources:
  - mcpservers
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "ai-virtual-agent.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "ai-virtual-agent.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "ai-virtual-agent.serviceAccountName" . }}
