version: 2
image_name: ollama
apis:
- agents
- inference
- safety
- tool_runtime
- vector_io
providers:
  inference:
  - provider_id: ollama
    provider_type: remote::ollama
    config:
      url: http://ollama:11434
  safety:
  - provider_id: llama-guard
    provider_type: inline::llama-guard
    config:
      excluded_categories: []
  agents:
  - provider_id: meta-reference
    provider_type: inline::meta-reference
    config:
      persistence:
        agent_state:
          namespace: agents
          backend: kv_default
        responses:
          table_name: responses
          backend: sql_default
          max_write_queue_size: 10000
          num_writers: 4
  tool_runtime:
  - provider_id: model-context-protocol
    provider_type: remote::model-context-protocol
storage:
  backends:
    kv_default:
      type: kv_sqlite
      db_path: /.llama/distributions/ollama/kvstore.db
    sql_default:
      type: sql_sqlite
      db_path: /.llama/distributions/ollama/sql_store.db
  stores:
    metadata:
      namespace: registry
      backend: kv_default
    inference:
      table_name: inference_store
      backend: sql_default
      max_write_queue_size: 10000
      num_writers: 4
    conversations:
      table_name: openai_conversations
      backend: sql_default
registered_resources:
  models:
  - metadata: {}
    model_id: llama3.2:1b-instruct-fp16
    provider_id: ollama
    model_type: llm
  shields: []
  vector_dbs: []
  datasets: []
  scoring_fns: []
  benchmarks: []
  tool_groups: []
server:
  port: 8321
telemetry:
  enabled: true
